## Dia 01: Importando os dados necessários

1 - Importando a biblioteca pandas

In [5]:
import pandas as pd

2 - Lendo os arquivos csv

In [19]:

dados_20101 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20101.csv")
dados_20102 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20102.csv")

dados_20111 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20111.csv")
dados_20112 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20112.csv")

dados_20121 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20121.csv")
dados_20122 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20122.csv")

dados_20131 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20131.csv")
dados_20132 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20132.csv")

dados_20141 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20141.csv")
dados_20142 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20142.csv")

dados_20151 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20151.csv")
dados_20152 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20152.csv")

dados_20161 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20161.csv")
dados_20162 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20162.csv")

dados_20171 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20171.csv")
dados_20172 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20172.csv")

dados_20181 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20181.csv")
dados_20182 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20182.csv")

dados_20191 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20191.csv")
dados_20192 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20192.csv")

dados_20201 = pd.read_csv("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_emprestimos/emprestimos-20201.csv")

dados_exemplares = pd.read_parquet("C:/Users/paula/Documents/PROJETO_BIBLIOTECA/1. Dados/dados_exemplares.parquet")

3 - Juntando os dataframes de dados de empréstimo

In [20]:
dados_consolidados = pd.concat([dados_20101,dados_20102,dados_20111,dados_20112,dados_20121,dados_20122,dados_20131,dados_20132,dados_20141,dados_20142,
                                dados_20151,dados_20152,dados_20161,dados_20162,dados_20171,dados_20172,dados_20181,dados_20182,dados_20191,dados_20192,dados_20201],ignore_index=True)

4 - Tratando os dados

In [22]:
dados_consolidados = dados_consolidados.drop_duplicates()

In [23]:
dados_consolidados.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [25]:
dados_consolidados.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO

5 - Mesclando os dados

In [24]:
base_de_dados = dados_consolidados.merge(dados_exemplares)
base_de_dados

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098
2072518,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171
2072519,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173
2072520,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712
2072521,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153